* {
	margin: 0;
	padding: 0;
}

/* Exam_Cards_Students_Section */

.exam__card--container {
	margin-top: 20px;
}

.card__exam {
	box-shadow: 2px 2px 2px 2px;
}

.exam__subject {
	text-decoration: none;
	font-weight: 700;
	font-size: 2rem;
	width: fit-content;
}

.exam__length {
	font-size: 1.5rem;
	font-weight: 700;
	font-size: 2rem;
}

.exam__title {
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
}

.btn__exam {
	width: 100%;
}

/* Exam_Cards_Students_Section_End */

/* Take_Exams_Students_Section */

.take__exam--container {
	border-radius: 20px;
	border: 1px solid black;
	box-shadow: 1px 1px 1px 1px;
}

.title__holder {
	border-bottom: 1px solid black;
	margin: 0;
	width: 100%;
	font-size: 40px;
	text-transform: uppercase;
}

.subject__exam {
	border-bottom: 1px solid black;
	font-size: 35px;
	text-align: center;
}

.title__exam {
	border-bottom: 1px solid black;
	font-size: 35px;
	text-align: center;
}

.desc__exam {
	border-right: 1px solid black;
	width: 50%;
	font-size: 25px;
}

.num__exam {
	font-size: 25px;
}

.ques__details--exam {
	font-size: 20px;
}

.form__exam--container {
	border-top: 1px solid black;
	padding-left: 20px;
	padding-bottom: 10px;
}

.btn__take--exam {
	margin-top: 20px;
}

/* Take_Exams_Students_Section_End */

@media (min-width: 320px) and (max-width: 425px) {
	.title__holder {
		border-bottom: 1px solid black;
		margin: 0;
		width: 100%;
		font-size: 25px;
		text-transform: uppercase;
	}

	.subject__exam {
		border-bottom: 1px solid black;
		font-size: 20px;
		text-align: center;
	}

	.title__exam {
		border-bottom: 1px solid black;
		font-size: 20px;
		text-align: center;
	}

	.num__exam {
		font-size: 20px;
	}

	.desc__exam {
		border-right: 1px solid black;
		width: 50%;
		font-size: 20px;
	}
}
