.input-container:focus {
	outline: none;
}

.input-container {
	padding: 10px;
}

.container > form {
	min-width: 350px;
	max-width: 450px;
	margin: 0 auto;
	border: 1px solid goldenrod;
	padding: 25px;
}
button[type="submit"] {
	display: block;
	width: 100%;
}
