:root {
    --primaryColor: #FFF3E2;
    --secondaryColor : #FFE5CA;
    --navColor: #FA9884;
    --textColor: rgb(11, 10, 10);
    --thirdColor: #F0F0F0;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}

/* Dashboard CSS */
body {
    background-color: var(--thirdColor);
    font-family: serif;
    letter-spacing: 1px;
    font-size: 14px;
    color: var(--textColor);
}
header, footer{
    background-color: var(--secondaryColor);
    /* background-color: transparent; */
}
aside {
    position: relative;
    top: 10px;
    background-color: var(--secondaryColor);
    z-index: 5;
}

aside > nav {
    width: 20%;
    height: 600px;
    position: fixed;
    left: 0;
    border-right: 1px solid var(--navColor);
}
aside > nav > ul, div > ul > li {
    list-style: none;
}
aside > nav > ul > li > a{
    text-decoration: none;
    color: var(--textColor);
}
div > ul {
    background-color: var(--primaryColor);
}
div > ul > li {
    font-size: 13px;
}
aside > nav > ul > li{
    border-bottom: 1px solid var(--navColor);
    text-transform: uppercase;
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    font-size: 13px;
    padding: 7px;
}
aside > nav > ul > li:hover{
    background-color: var(--secondaryColor);
}
div > ul > li:hover{
    color: var(--navColor);
}
.title, .message {
    font-size: 16px;
    text-transform: uppercase;
}
section.main-content {
    width: 77%;
    float: right;
    margin-top: 10px;
}
li.active {
    background-color: var(--secondaryColor);
}



 /* SIR FERDIE CSS CODES STARTS HERE */

 /* SIR FERDIE CSS CODES ENDS HERE */




/* SIR JACOB CSS CODES STARTS HERE */

/* SIR JACOB CSS CODES ENDS HERE */




/* SIR RICHARD CSS CODES STARTS HERE */
section#nav_2 {
    position: fixed;
    top: 6px;
    right: 10px;
    z-index: 10;
    width: 100%;
}
.create_exam_form{
    width: 90%;
}

@media (max-width: 767px) {
    section.main-content {
        width: 100%;
        margin-top: 110px;
        padding-left: 50px;
    }
}

/* SIR RICHARD CSS CODES ENDS HERE */